body {
  background-color: #141414;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: orange solid 1px;
  height: 100vh;
}

#header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: rgb(156, 153, 78) solid 2px;

  padding: 0.4em;
  opacity: 1;
}

#render {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#test {
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 3%;
  border: blue solid 3px;
  transform: translate(-50%, -50%);
}
